<!DOCTYPE html>

<html lang="en">

 <!--
   This code is borrowed from... 
   Learn Vue 3 - Ep 2, Attribute Binding and Event Handling
   https://www.youtube.com/watch?v=J4aNmkEGTu0&list=PL3VM-unCzF8jX-GoazLPcbi7M0wJux8F-&index=2   
   ...the code has been adapted by me in order to concentrate purely on centering a button inside of the web page.  
   Created: 01:49 15/02/2023
   Updated: 01:49 15/02/2023
  -->

 <head>
  <meta charset="utf-8">
  <title>Vue3JS test page</title>
  <style>
   html,body{height:100%;}
   body{display:grid;place-items:center;} 
   .text-green{color:green;background-color:orange;border-color:yellow;}
  </style>
 </head>

 <body>
   
   <!--div output section/start-->
   <div>
   <button class="text-green" onClick='alert("Thanks for clicking")'>
    Click me
   </button>
  </div>
  <!--div output section/end-->
     
 </body>

</html>
